DATABASE_URL=postgresql://prescription_user:prescription_pass@prescription-db:5432/prescription_db
#DATABASE_URL=postgresql://prescription_user:prescription_pass@localhost:5432/prescription_db

AMQP_URL=amqp://guest:guest@rabbitmq:5672/
#AMQP_URL=amqp://guest:guest@localhost:5672/