APPOINTMENT_SERVICE_URL=http://appointment-service:8000
#APPOINTMENT_SERVICE_URL=http://localhost:8001

CONSULTATION_SERVICE_URL=http://consultation-service:8000
#CONSULTATION_SERVICE_URL=http://localhost:8002

USER_SERVICE_URL=http://user-service:8000
#USER_SERVICE_URL=http://localhost:8003

PRESCRIPTION_SERVICE_URL=http://prescription-service:8000
#PRESCRIPTION_SERVICE_URL=http://localhost:8004

# commented = for running locally outside Docker