DATABASE_URL=postgresql://appointment_user:appointment_pass@appointment-db:5432/appointment_db
#DATABASE_URL=postgresql://appointment_user:appointment_pass@localhost:5432/appointment_db

AMQP_URL=amqp://guest:guest@rabbitmq:5672/
#AMQP_URL=amqp://guest:guest@localhost:5672/

AM_START_HOUR=8
AM_END_HOUR=12
PM_START_HOUR=13
PM_END_HOUR=17

##commented are for running locally outside Docker